[submodule "paritytech-substrate"]
	path = paritytech-substrate
	url = https://github.com/paritytech/substrate.git
[submodule "hicommonwealth-edgeware-node"]
	path = hicommonwealth-edgeware-node
	url = https://github.com/hicommonwealth/edgeware-node/
