[submodule "paritytech-substrate"]
	path = paritytech-substrate
	url = https://github.com/paritytech/substrate.git
[submodule "heystraightedge_straightedge-node"]
	path = heystraightedge_straightedge-node
	url = https://github.com/heystraightedge/straightedge-node
